* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
#header a {
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px 20px;
    transition: background-color .5s;
}
#header a:hover {
    background-color: rgb(25, 28, 31);
}
#header span {
    font-size: 25px;
}
#header ul {
    margin: 0 auto;
}

main a:link {
    color:rgb(27, 130, 247);
}
main a:visited {
    color: rgb(27, 130, 247);
}
.main {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(230px, 1fr)) ;
    grid-template-rows:repeat(2, 400px) ;
    grid-auto-rows:400px ;
    grid-gap: 30px;
    padding: 30px;
}
.productos {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  15px 15px 35px black;
}
.productos__img {
    width: 100%;
    height: 70%;
    border-bottom: 2px solid black;
}
.productos__text {
    padding: 10px;
}
.footer {
    display:flex;
    flex-direction: column;
    background-color:rgb(33, 37, 41) ;
    color: white;
    width: 100vw;
    align-items: center;
}
.footer i {
    color:white;
}
    
