* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

#header {
    box-shadow: 8px 8px 50px rgb(67, 67, 67);
    position: sticky;
    top: 0;
    animation-name: Navbar;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes Navbar  {
    0%{
        background-color: white;
    }
    100%{
        background-color: rgb(33, 37, 41);
     }
}

#header a {
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px 20px;
    transition: background-color .5s;
}
#header a:hover {
    background-color: rgb(25, 28, 31);
}
#header span {
    font-size: 25px;
}
#header ul {
    margin-right: 20px;
}
#navbarNav {
    justify-content: flex-end;
}
.header-img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(/media/descarga.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.main {

    display: grid;
    flex-wrap: wrap;
    grid-template-rows:1,minmax(20px ,200px)  ;
    grid-template-columns:1,minmax(100px, 1fr) ;
    justify-content: center;
    padding: 30px;
}
.producto {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px
}
.producto__text {
    display: flex;
    padding-left: 30px;
    width: 70%;
}
.producto__text-p {
    width: 100%;
}
.producto__div-img {
    width: 30%;
}
.producto__img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

main a:link {
    color:rgb(27, 130, 247);
}
main a:visited {
    color: rgb(27, 130, 247);
}

.footer {
    display:flex;
    flex-direction: column;
    background-color:rgb(33, 37, 41) ;
    color: white;
    width: 100vw;
    align-items: center;
}
.footer i {
    color:white;
}